@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Chelsea Market", cursive;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/chelsea-market-v13-latin-regular.ttf") format("opentype");
  }
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*
 * Base styles
h1 {
  text-shadow: 0 0 4px purple;
}
 */
