@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Chelsea Market", cursive;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/chelsea-market-v13-latin-regular.ttf") format("opentype");
  }
}
/* html,
body {
  padding: 0;
  margin: 0;
  
  &:before {
    content: "";
    width:  100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
} */

.box {
  @apply text-gray-100
		min-w-full
		h-44
		min-h-full
		rounded;
}

.boxb {
  @apply h-20;
}

.email-content,
h2 {   
    text-align: center;
  }
  .form-message {
    margin-top: 8px;
    padding: 5px;
    opacity: 0;
    transition: 0.2s ease;
    color: rgb(17, 17, 17);
    border-radius: 1px;
    box-shadow: 0 0 2px rgba(19, 18, 18, 0.493);
  }

.email-content {
  position: relative;
}
.email-content input {
  width: 100%;
}
#not-mail {
  display: none;
  top: 4px;
  color: #ff4d4d;
  right: 0;
  transform-origin: 50% 50%;
}
@keyframes dongle {
  0% {
    transform: translate(0px, 0px);
  }
  10% {
    transform: translate(-10px, 0px);
  }
  20% {
    transform: translate(10px, 0px);
  }
  30% {
    transform: translate(-10px, 0px);
  }
  40% {
    transform: translate(10px, 0px);
  }
  50% {
    transform: translate(-10px, 0px);
  }
  60% {
    transform: translate(10px, 0px);
  }
  70% {
    transform: translate(-10px, 0px);
  }
  80% {
    transform: translate(10px, 0px);
  }
  90% {
    transform: translate(-10px, 0px);
  }
  100% {
    transform: translate(0px, 0px);
  }
}

.error::placeholder {
    color: #ff4d4d;
  }

