@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Chelsea Market", cursive;
    font-style: normal;
    font-weight: 400;
    src: url("/fonts/chelsea-market-v13-latin-regular.ttf") format("opentype");
  }
}
html,
body {
  padding: 0;
  margin: 0;

  &:before {
    content: "";
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
}

.box {
  @apply text-gray-100
		min-w-full
		h-44
		min-h-full
		rounded;
}

.boxb {
  @apply h-20;
}
